.productdisplay {
    display: flex;
    margin: 0px 170px;
}

.productdisplay-left {
    display: flex;
    gap: 17px;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img {
    height: 163px;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}

.productdisplay-img-list img:hover {
    transform: scale(1.1);
}

.productdisplay-main-img {
    width: 586px;
    height: 700px;
    object-fit: cover;
    transition: 0.2s;
    border-radius: 15px;
}

.productdisplay-main-img:hover {
    transform: scale(1.01);
}

.productdisplay-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 500;
}

.productdisplay-right-prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-prices-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-prices-new {
    color: #61a6ff;
}

.productdisplay-right-size h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-sizes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* กำหนดให้แสดง 4 คอลัมน์ */
    gap: 10px;
    /* ระยะห่างระหว่างแต่ละขนาด */
    padding: 10px;
    text-align: center;
}

.productdisplay-right-sizes div {
    padding: 18px 24px;
    background: #e9e9e9;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.productdisplay-right-sizes div:hover {
    transform: scale(1.1);
    background-color: #61a6ff;
    border: none;
    color: #fff;
}

.productdisplay-right button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #61a6ff;
    border-radius: 3px;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.productdisplay-right button:hover {
    transform: scale(1.1);
}

.productdisplay-right button:active {
    background-color: transparent;
    border: 1px solid #61a6ff;
    color: #61a6ff;
}

.productdisplay-right-category {
    margin-top: 10px;
}

.productdisplay-right-category span {
    font-weight: 600;
}

.popupcontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Slightly darker background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-out;
}

.popupcontent {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    width: 40%;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-40px);
    /* Slight upward offset initially */
    animation: slideUp 0.4s ease-out forwards;
    text-align: center;
}

.popup-sizes div {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    padding: 18px 24px;
    background: #e9e9e9;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.popup-sizes div:hover {
    transform: scale(1.1);
    background-color: #61a6ff;
    color: #fff;
}

.popup-sizes div :active {
    background-color: #61a6ff;
}

.popup-actions button {
    width: 48%;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in-out;
    margin: 15px 1%;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-actions button:hover {
    background-color: #61a6ff;
    color: #fff;
    transform: scale(1.05);
}

@media (max-width:1280px) {
    .productdisplay {
        margin: 0px 60px;
    }
    .productdisplay-left {
        gap: 10px;
    }
    .productdisplay-img-list {
        gap: 10px;
    }
    .productdisplay-img-list img {
        height: 120px;
    }
    .productdisplay-main-img {
        width: auto;
        height: 510px;
    }
    .productdisplay-right {
        margin: 0px 30px;
    }
    .productdisplay-right h1 {
        font-size: 22px;
    }
    .productdisplay-right-prices {
        margin: 10px 0px;
        font-size: 18px;
    }
    .productdisplay-right-description {
        font-size: 13px;
    }
    .productdisplay-right-size h1 {
        margin-top: 20px;
        font-size: 20px;
    }
    .productdisplay-right-sizes div {
        padding: 14px 20px;
    }
    .productdisplay-right button {
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    .productdisplay-right-category {
        margin-top: 5px;
        font-size: 14px;
    }
}

@media (max-width:1024px) {
    .productdisplay {
        margin: 0px 30px;
    }
    .productdisplay-left {
        gap: 5px;
    }
    .productdisplay-img-list img {
        height: 80px;
    }
    .productdisplay-main-img {
        height: 350px;
    }
    .productdisplay-right h1 {
        font-size: 18px;
    }
    .productdisplay-right-stars img {
        width: 15px;
    }
    .productdisplay-right-description {
        font-size: 12px;
    }
    .productdisplay-right-sizes {
        margin-top: 10px 0px;
    }
    .productdisplay-right-sizes div {
        padding: 10px 16px;
        font-size: 12px;
    }
    .productdisplay-right button {
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .productdisplay-right-category {
        font-size: 12px;
    }
}

@media (max-width:800px) {
    .productdisplay {
        margin: 0px 10px;
    }
    .productdisplay-left {
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .productdisplay-img-list {
        flex-direction: row;
        gap: 6px;
    }
    .productdisplay-img-list img {
        height: 70px;
    }
    .productdisplay-main-img {
        height: 300px;
    }
    .productdisplay-right h1 {
        font-size: 14px;
    }
    .productdisplay-right-stars img {
        width: 13px;
    }
    .productdisplay-right-description {
        font-size: 10px;
    }
    .productdisplay-right-size h1 {
        margin-top: 10px 0px;
    }
    .productdisplay-right-sizes {
        margin-top: 10px;
        gap: 5px;
    }
    .productdisplay-right-sizes div {
        padding: 4px 11px;
    }
    .productdisplay-right button {
        width: 100px;
        font-size: 12px;
    }
    .productdisplay-right-category {
        font-size: 10px;
    }
}

@media(max-width:500px) {
    .productdisplay {
        flex-direction: column;
    }
    .productdisplay-left {
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .productdisplay-img-list {
        flex-direction: column;
        gap: 8px;
    }
    .productdisplay-img-list img {
        height: 75px;
    }
    .productdisplay-main-img {
        height: 330px;
    }
    .productdisplay-right {
        margin: 5px;
    }
    .productdisplay-right h1 {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .productdisplay-right-stars img {
        width: 15px;
    }
    .productdisplay-right-sizes {
        gap: 10px;
        margin: 20px 0px;
    }
    .productdisplay-right-sizes div {
        padding: 10px 16px;
        font-size: 14px;
    }
    .productdisplay-right button {
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
    }
    .productdisplay-right-category {
        font-size: 16px;
    }
}